:root {
    --surface-ground: linear-gradient(180deg, #effdff8f 0%, rgba(27, 96, 85, 0.29) 111.26%);
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);
    --border-color: var(--color-slate-300); 
    --border-light-color: var(--color-slate-100); 
}